*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Mangolia;
    src: url(./Mangolia-2vvjw.ttf);
}

body {
    background-color:#ccc;
    color: rgb(118, 8, 221);
} 

header,
footer {
    padding: 3rem;
    text-align: center;
}

table {
    border-spacing: 0;
    margin: 0 20px;
}
tr:nth-child(even){
    background-color: #989393;
}
tr:nth-child(odd) {
    background-color: rgb(132, 214, 176);
}
th,
td {
    padding: 5px 7px;
    border-top: 1px solid hsl(348, 86%, 32%);
    border-right: 1px solid hsl(348, 86%, 10%);
    border-bottom: 1px solid hsl(348, 86%, 10%);
    border-left: 1px solid hsl(348, 86%, 32%);
}
th {
    text-transform: uppercase;
    background-color: #ccc;
}
td:nth-child(5) {
    text-align: right;
}
tbody tr {
    transition: all 150ms;
}
tbody tr:hover {
    background-color: #ccc;
}
h1 {
    font-family: Mangolia;
    font-size: 5rem;
}
footer {
    font-family: Mangolia;
    font-size: 2rem; 
}
/* Loader */

#loader {
    position: absolute;
    padding: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Mangolia;
    font-size: 4rem;
    display: none;
}
#loader.show {
    display: block;
}
.hide {
    display: none;
}

#villains-row td {
    background: rgb(241, 144, 134);
}

#blur-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}
#modal {
    background-color: chocolate;
    padding: 50px;
    padding-top: 60px;
    position: relative;
}
.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2rem;
    background-color: red;
    line-height: 1;
    padding: 5px 8px;
    padding-top: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: all 200ms;
}
.close-modal:hover {
    transform: scale(1.1);
}
#modal p {
    font-size: 1.6rem;
}
#modal ul {
    list-style: none;
    margin-top: 20px;
    font-size: 1.5rem;
}